<h2>Lista de peliculas</h2>
{{#if peliculas.[0]}}
    <table class="table table-sm table-hover">
        <caption>Lista total de peliculas</caption>
        <thead>
            <tr>
                <th scope="col">#ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">pelicula</th>
                <th scope="col">Imagen</th>
            </tr>
        </thead>
        <tbody>
        {{#each peliculas}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.title}}</td>
                <td>{{this.price}}</td>
                <td>{{this.thumbnail}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{else}}
<h2>No hay peliculas en la lista</h2>
{{/if}}